body{
background-color: rgb(98, 19, 172);
    color:blueviolet;
    font-family: "Noto Sans Multani", sans-serif;
{
header}
   font-size: 50px;
   border: double 7px blue;
}
h1{
    font-size: 30px;
}
p{
  font-size: 40px;
}